body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
}
h4 {
  color: white;
  font-size: 35px;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.carousel-inner {
  height: 500px;
  /* Fixed height for carousel */
}

.carousel-item {
  height: 100%;
  /* Make items fill carousel height */
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* Makes images cover the area without distortion */
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  border-radius: 10px;
  padding: 20px;
}

.card-container {
  width: 100%;
  display: flex;
  margin: 50px auto;
  justify-content: center;
  /* align-items: center; */
  max-width: 1200px;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 380px;
  background-color: #1a626c;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: inset 0 -3em 3em rgba(0, 80, 200, 0.3),
  0 0 0 1px white,
  0.1em 0.1em 0.5em rgba(15, 202, 235, 0.6);;
}

.card:hover{
  transform: translateY(-5px);
}
.thumb {
  border: none;
  border-radius: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
  color: antiquewhite;
}

.footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .carousel {
    width: 95%;
  }
  .carousel-caption h4 {
    font-size: 24px;
  }
  .carousel-caption p {
    font-size: 18px;
  }
}
